<!-- <div class="student_form">
  <form class="row g-3" method="POST" action="" enctype="multipart/form-data">
    
    {{ forms.hidden_tag() }}
  <img src="{{image_file}}" alt="">  
   <div class="col-md-12">
    {{forms.picture.label()}}
    {{forms.picture}}
    {{forms.submit}}
    {{forms.stud_code.label}}{{forms.stud_code}}
   </div> -->
   <!--
  <div class="col-md-4">
    {{forms.stud_code.label(for="input_last_name", class="form-label")}}
    {{forms.stud_code(id="first_name", type="name" ,class="form-control" ,id="inputname")}}

     
  </div>
 
      <div class="col-md-4">
            {{forms.username.label(for="input_last_name", class="form-label")}}
            {{forms.username(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
        </div>
      <div class="col-md-4">
        {{forms.fathername.label(for="input_last_name", class="form-label")}}
        {{forms.fathername(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
      </div>
      <div class="col-md-4">
        {{forms.ayatname.label(for="input_last_name", class="form-label")}}
        {{forms.ayatname(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
     </div>
     <div class="col-md-4">
      {{forms.christnaname.label(for="input_last_name", class="form-label")}}
      {{forms.christnaname(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
   </div>
   <div class="col-md-4">
    {{forms.sex.label(for="input_last_name", class="form-label")}}
    {{forms.sex(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
 </div>
 <div class="col-md-4">
  {{forms.mothername.label(for="input_last_name", class="form-label")}}
  {{forms.mothername(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
</div>
<div class="col-md-4">


</div>
<div class="col-md-4">
{{forms.meareg.label(for="input_last_name", class="form-label")}}
{{forms.meareg(id="first_name", type="name" ,class="form-control" ,id="inputname")}}
</div>

<div class="col-md-5">
                     
    <label for="inputname" class="form-label">4.ሰበካ ጉባኤ ኣባል ኖት </label>
                      <div class="sebeka_check row">
                      <div class="form-check col-md-6">
                        {{forms.sebeka_yes(type="checkbox",class="form-check-input", value="አዎ ነኝ",id="exampleCheck1")}}
                        {{forms.sebeka_yes.label( class="form-check-label" ,for="exampleCheck1")}} -->
                       
                          <!-- <input id="awo_sebeka_g_awo" class="form-check-input" type="radio" id="gridRadios1" value="option1" checked>
                       <label class="form-check-label" for="gridRadios1">አዎ </label> -->
                      <!-- </div>
                     
                      <div class="form-check col-md-6">
                        {{forms.sebeka_no( type="checkbox" ,class="form-check-input", value="አይ አይደለሁም" ,id="exampleCheck1")}}
                        {{forms.sebeka_no.label( class="form-check-label",for="exampleCheck1")}}
                         
                      </div>
                  </div>
                  </div>
             
            </div>
              <div class="adress_shower">
               
               
               <label for="">6.የመኖሪያ አድራሻ</label>
               <div class="row ermias">
            
                  <div class="col-md-6 row">
                      
                      <div class="col-md-2">
                        {{forms.kebele.label(for="input_last_name" ,class="form-label")}}
                        {{forms.kebele(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                    </div>
                    <div class="col-md-2">
                      {{forms.kfl_ketema.label(for="input_last_name" ,class="form-label")}}
                        {{forms.kfl_ketema(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                      </div>
                      <div class="col-md-2">
                        {{forms.wereda.label(for="input_last_name" ,class="form-label")}}
                        {{forms.wereda(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                      </div>
                      <div class="col-md-3">
                        
                        
                    </div>
                    <div class="col-md-2">
                      {{forms.lyu_bota.label(for="input_last_name" ,class="form-label")}}
                        {{forms.lyu_bota(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                      
                  </div> -->
                    <!--........................ end of first row.......................................... -->
                    <!-- <div class="col-md-3">
                      {{forms.home_num.label(for="input_last_name" ,class="form-label")}}
                      {{forms.home_num(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                      </div>
                      <div class="col-md-3">
                        {{forms.cell_phone.label(for="input_last_name" ,class="form-label")}}
                        {{forms.cell_phone(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                       
                      </div>
                      <div class="col-md-3">
                        {{forms.post.label(for="input_last_name" ,class="form-label")}}
                        {{forms.post(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                      </div>
                      <div class="col-md-3">
                        {{forms.email.label(for="input_last_name" ,class="form-label")}}
                        {{forms.email(id="middle_name" ,type="name", class="form-control", id="input_last_name")}}
                        
                      </div>
                      
                    </div>
                  </div>
                 
                </div> -->
                <!-- end of address -->
                <!-- <div  class="row g-3">
                 
                      <label for="inputname" class="form-label">8.የስራ ሁኔታ</label>
                          <div class="form-check col-md-2">
                            {{forms.yegel.label()}}
                              {{forms.yegel()}}
                            
                           </div>
                            <div class="form-check col-md-2">
                              {{forms.mengest.label()}}
                              {{forms.mengest()}}
                              
                            </div>
                            <div class="form-check col-md-2">
                           
                              
                            </div>
                            <div class="form-check col-md-2">
                              {{forms.felagi.label()}}
                              {{forms.felagi()}}
                              
                            </div>
               
                </div>

                    <div  class="row g-3">
                      
                          <label for="inputname" class="form-label">9.የትዳር ሁኔታ</label>
                              <div class="form-check col-md-3">
                                  
                                  {{forms.yageba_ch(type="checkbox" ,class="form-check-input",value="ያገባ/ች" ,id="exampleCheck1")}}
                                  {{forms.yageba_ch.label(class="form-check-label" ,for="exampleCheck1")}}
                                  
                                  
                                </div>
                                <div class="form-check col-md-3">
                                  {{forms.yalageba_ch(type="checkbox",value="ያላገባ/ች" ,class="form-check-input" ,id="exampleCheck1")}}
                                  {{forms.yalageba_ch.label(class="form-check-label" ,for="exampleCheck1")}}
                                  
                                  
                                   
                                </div>
                                <div class="form-check col-md-3">
                                  {{forms.ag_yefeta(type="checkbox",value="የፈታች/የሞተበት(ባት)" ,class="form-check-input" ,id="exampleCheck1")}}
                                  {{forms.ag_yefeta.label(class="form-check-label" ,for="exampleCheck1")}}
                                  
                                  
                                  
                                </div>
                                
                   
                    </div> -->

                  


                    <!-- the forms will end here -->
  <!-- <div class="row">
      <div class="col-md-12">
        {{forms.student_from.label}}{{forms.student_from}}
        {{forms.course_round.label}}{{forms.course_round}}
       
        
        {{forms.current_duty.label}}{{forms.current_duty}}
        
        
       </div>
        <div class="col-md-12">
          {{forms.senbet_duty_form.label}}{{forms.senbet_duty_form}}
          {{forms.current_duty_spec.label}}{{forms.current_duty_spec}}
         
         
        </div> -->
      
     
       
        
      
<!-- 
      </div>
  </div>
</form> -->
  <!-- ...............................................table_1................................................. -->      
<!--  
  <button id="address_shower_btn" type="button" class="btn btn-outline-warning">11.ዓለማዊ ትምህርት ደለጃ</button>
  <table  id="table_1" class="table">
      
      <thead>
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">ተቋም</th>
          <th scope="col">የተመረቁበት ዓ.ም</th>
          <th scope="col">የተመረቁበት የሞያ መስክ</th>
          <th scope="col">የትምህርት ደረጃ ፲ኛ ዲፕሎማ፣ዲግሪ ደረጃ ፬</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
      </tbody>
    </table> -->
  
                                <!-- table 2 -->
    
    <!-- <button id="sene_melekot_btn" type="button" class="btn btn-outline-warning">12.የስነ-መለኮት ደረጃ</button>
    <table id="table_2" class="table">
      
     
      <thead>
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">የመንፈሳዊው ኮሌጁ ስም</th>
          <th scope="col">የተመረቁበት ዓ.ም</th>
          <th scope="col">ማዕረግ የትምህርት/ደረጃ/ዲግሪ/ዲፕሎማ...</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
      </tbody>
    </table>
    <button id="abinet_btn" type="button" class="btn btn-outline-warning">13. የአብነት ደረጃ</button>
    
    <table id="table_3" class="table">
     
    
      <thead id="ermias" >
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">ውዳሴ ማሪያም/ዳዊት</th>
          <th scope="col">ዜማ/ጓዝ</th>
          <th scope="col">ድጓ/ጓዝ</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
         
        <tr>
          <th scope="row">2</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
         
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
      </tbody>
    </table>
  </div>
   
 


</div>
</div> -->

{%extends 'layout.html'%}
{%block content%}
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w680">
      <div class="card card-1">
          <div class="card-heading"></div>
          <div class="card-body">
              <h2 class="title">የአባላት መመዝገቢያ</h2>
             
                
                
                 
                 
                
                
              <form method="POST" method="POST" action="" enctype="multipart/form-data">
                {{ forms.hidden_tag() }}
                <div class=" row ">
                  <div class="col-md-6">
                    <img src="{{image_file}}" alt="" >
                </div>
                <div class="col-md-6">
                  {{forms.picture.label()}} 
                  {{forms.picture}}
                </div>
                  
               
              
              </div>

                
                <div class="row row-space">
                  <div class="col-2 input-group">
                    {{forms.stud_code(class="input--style-1", type="text", placeholder="የኣባል መለያ ኮድ")}}
                   
                </div>
                  <div class="col-2 input-group">
                    {{forms.username(class="input--style-1",type="text", placeholder="ስም")}}
                      <!-- <input class="input--style-1" type="text" placeholder="ስም" name="ስም"> -->
                  </div>
                  </div>
                  <div class="row row-space">
                      <div class="col-md-4">
                          <div class="input-group">
                            {{forms.fathername(class="input--style-1 js-datepicker", type="text", placeholder="የአባት ስም")}}
                              <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="የአባት ስም" name="የአባት_ስም"> -->
                              <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-group">
                          {{forms.ayatname(class="input--style-1 js-datepicker", type="text", placeholder="ኣያት ስም")}}
                          <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ኣያት ስም" name="ኣያት_ስም">
                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                      </div>
                      </div>
                      <div class="col-md-4">
                        <div class="input-group">
                          {{forms.christnaname( class="input--style-1 js-datepicker", type="text", placeholder="ክርስትና ስም")}}
                          <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ክርስትና ስም" name="ክርስትና_ስም">
                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                      </div>
                      </div>
                  </div>
                  <div class="row row-space">
                  <div class=" col-2 input-group">
                      <div class="rs-select2 js-select-simple select--no-search">
                          <select name="ፆታ">
                              <option disabled="disabled" selected="selected">ፆታ</option>
                              <option name="wend">ወንድ</option>
                              <option name="wend">ሴት</option>
                              
                          </select>
                          <div class="select-dropdown"></div>
                      </div>
                  </div>
                  <div class=" col-2 input-group">
                    {{forms.dateof_birth}}
                    <!-- <input type="date" name="data_apreensao" class="form-control" format="dd/mm/yyyy" placeholder="DD-MM-YYYY"> -->
                    <!-- <input type="text"  name="fname"> -->
                </div>
                  
                  </div>
                  <div class="row row-space">
                    <div class="col-2 input-group">
                      {{forms.mothername(class="input--style-1", type="text", placeholder="የእናት ስም" )}}
                     
                      <!-- <input class="input--style-1" type="text" placeholder="የእናት ስም" name="የእናት_ስም"> -->
                  </div>
                    <div class="col-2 input-group">
                      {{forms.meareg(class="input--style-1" ,type="text" ,placeholder="ማዕረግ(ዲ/ን,ካ/ህ,መሪጌታ)")}}
                     
                        <!-- <input class="input--style-1" type="text" placeholder="ማዕረግ(ዲ/ን,ካ/ህ,መሪጌታ)" name="ማዕረግ"> -->
                    </div>
                    </div>


                    <div class="row row-space">

                   <div class="col-6 row row-space">
                    <p>ሰበካ ጉባኤ ኖት?</p>
                    <div class="col-2 form-check form-check-inline">
                      {{forms.sebeka_yes(class="form-check-input", type="radio" , id="inlineRadio1", value="ኣዎ")}}
                      <label class="form-check-label" for="inlineRadio1"> ኣዎ</label>
                    </div>
                    <div class=" col-2 form-check form-check-inline">
                      {{forms.sebeka_no(  class="form-check-input", type="radio",  id="inlineRadio2", value="ኣይ")}}
                      <label class="form-check-label" for="inlineRadio2">ኣይ</label>
                    </div>
                     
                      
                    </div>
                    
                    
                      <div class="col-6 row row-space">
                        <p>ሰበካ ጉባኤ ኖት?</p>
                        <div class="col-4 form-check">
                          {{forms.yageba_ch( class="form-check-input" ,type="radio" ,id="flexRadioDefault2",value="ያገባ/ች")}}
                          <!-- <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"> -->
                          <label class="form-check-label" for="flexRadioDefault1">
                             ያገባ/ች
                          </label>
                        </div>
                        <div class="col-4 form-check">
                          {{forms.yalageba_ch( class="form-check-input" ,type="radio" ,id="flexRadioDefault2",value="ያላገባ/ች")}}
                          <!-- <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked> -->
                          <label class="form-check-label" for="flexRadioDefault2">
                             ያላገባ/ች
                          </label>
                        </div>
                        <div class="col-4 form-check">
                          {{forms.ag_yefeta( class="form-check-input" ,type="radio" ,id="flexRadioDefault2",value="የፈታ/ች የሞተበት/ባት")}}
                          <!-- <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked> -->
                          <label class="form-check-label" for="flexRadioDefault2">
                          የፈታ/ች የሞተበት/ባት
                          </label>
                        </div>
                      </div>

                      <div class="row row-space">
                        <div class="col-md-3">
                            <div class="input-group">
                              {{forms.kebele(class="input--style-1 js-datepicker", type="text", placeholder="ቀበሌ")}}
                                <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ቀበሌ" name="ቀበሌ">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            {{forms.kfl_ketema(class="input--style-1 js-datepicker", type="text", placeholder="ክ/ከተማ" )}}
                            <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ክ/ከተማ" name="ክ_ከተማ">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            {{forms.wereda(class="input--style-1 js-datepicker", type="text", placeholder="ወረዳ")}}
                            <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ወረዳ" name="ወረዳ">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            {{forms.home_num(class="input--style-1 js-datepicker", type="text", placeholder="የቤት ቁጥር")}}
                            <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="የቤት ቁጥር" name="የቤት_ቁጥር">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                        </div>
                        </div>
                    </div>

                    <div class="row row-space">
                      <div class="col-md-3">
                          <div class="input-group">
                            {{forms.lyu_bota(class="input--style-1 js-datepicker",type="text", placeholder="ልዩ ቦታ")}}
                              <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ልዩ ቦታ" name="ልዩ ቦታ">
                              <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                          </div>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="input-group">
                          {{forms.cell_phone(class="input--style-1 js-datepicker",type="text", placeholder="ስልክ ቁጥር")}}
                          <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ስልክ ቁጥር" name="ስልክ_ቁጥር">
                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                      </div>
                      
                      </div>
                      <div class="col-md-3">
                        <div class="input-group">
                          {{forms.post(class="input--style-1 js-datepicker",type="text" ,placeholder="ፖስታ ")}}
                          <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ኢሜል" name="ኢሜል">
                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group">
                          {{forms.email( class="input--style-1 js-datepicker",type="text",placeholder="ኢሜል" )}}
                          <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ፖስታ" name="ፖስታ">
                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                      </div>
                      </div>
                  </div>

                  <div class="row row-space">
                    <p>የስራ ሁኔታ</p> 
                    <div class="col-md-3">
                     

                        <div class="input-group">
                          {{forms.yegel(class="input--style-1 js-datepicker", type="text", placeholder="የግል")}}
                            <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="የግል" name="የግል">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        {{forms.mengest(class="input--style-1 js-datepicker", type="text", placeholder="የመንግስት ተቀጣሪ")}}
                        <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="የመንግስት ተቀጣሪ" name="የመንግስት_ተቀጣሪ">
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        {{forms.felagi(class="input--style-1 js-datepicker", type="text", placeholder="ፈላጊ")}}
                        <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="ፈላጊ" name="ፈላጊ">
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                    </div>
                    </div>
                    
                </div>

                <div class="row row-space">
                  <div class="col-md-4">
                      <div class="input-group">
                        {{forms.student_from(class="input--style-1 js-datepicker", type="text", placeholder=" አባል የሆኑበት ዓ.ም")}}
                          
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      {{forms.course_round(class="input--style-1 js-datepicker", type="text", placeholder="የኮርስ ዙር")}}
                      <!-- <input class="input--style-1 js-datepicker" type="text" placeholder="የኮርስ ዙር" name="ስልክ_ቁጥር">
                      <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="input-group">
                      {{forms.current_duty(class="input--style-1 js-datepicker", type="text", placeholder="የሚያገለግሉብት ክፍል" )}}
                      
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      {{forms.senbet_duty_form(class="input--style-1 js-datepicker", type="text", placeholder="ማገልገል የጀመሉበት ዓ.ም")}}
                      
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      {{forms.current_duty_spec(class="input--style-1 js-datepicker", type="text", placeholder=" ክፍል ውስጥ ያልዎት የስራ ድርሻ")}}
                      <!-- <input class="input--style-1 js-datepicker" type="text" placeholder=" ክፍል ውስጥ ያልዎት የስራ ድርሻ" name="ፖስታ">
                      <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i> -->
                  </div>
                  </div>
              </div>

               <!-- ...............................................table_1................................................. -->      
 
  <button id="address_shower_btn" type="button" class="btn btn-outline-warning">11.ዓለማዊ ትምህርት ደለጃ</button>
  <table  id="table_1" class="table">
      
      <thead>
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">ተቋም</th>
          <th scope="col">የተመረቁበት ዓ.ም</th>
          <th scope="col">የተመረቁበት የሞያ መስክ</th>
          <th scope="col">የትምህርት ደረጃ ፲ኛ ዲፕሎማ፣ዲግሪ ደረጃ ፬</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
      </tbody>
    </table>
  
                                <!-- table 2 -->
    
    <button id="sene_melekot_btn" type="button" class="btn btn-outline-warning">12.የስነ-መለኮት ደረጃ</button>
    <table id="table_2" class="table">
      
     
      <thead> 
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">የመንፈሳዊው ኮሌጁ ስም</th>
          <th scope="col">የተመረቁበት ዓ.ም</th>
          <th scope="col">ማዕረግ የትምህርት/ደረጃ/ዲግሪ/ዲፕሎማ...</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
      </tbody>
    </table>
    <button id="abinet_btn" type="button" class="btn btn-outline-warning">13. የአብነት ደረጃ</button>
    
    <table id="table_3" class="table">
     
    
      <thead id="ermias" >
        <tr>
          <th scope="col">ተ.ቁ</th>
          <th scope="col">ውዳሴ ማሪያም/ዳዊት</th>
          <th scope="col">ዜማ/ጓዝ</th>
          <th scope="col">ድጓ/ጓዝ</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
         
        <tr>
          <th scope="row">2</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
         
        </tr>
        <tr>
          <th scope="row">3</th>
          <td ><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          
        </tr>
      </tbody>
    </table>
  </div>
   
 


</div>


                  

         
                  <div class="p-t-20">
                    {{forms.submit}}
                      <!-- <button class="btn btn--radius btn--green" type="submit">መረጃ ኣስገባ</button> -->
                  </div>
              </form>
          </div>
          </div>
      </div>
  </div>
</div>
   
{%endblock content%}