<!-- <div>
      <form method="POST" action="">
        {{ forms.hidden_tag() }}
          <div>
            {{forms.username.label}}
            {{forms.username}}
              {{forms.password.label}}
              {{forms.password}}
              
              {{forms.submit}}
          </div>


      </form>
  </div> -->
{%extends 'layout.html'%}

{%block content%}
<div class="limiter">
  <div class="container-login100" style="background-image: url('../static/main_pic_up.png');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" method="POST" action="">
        {{ forms.hidden_tag() }}

        <span class="login100-form-logo">
         <img src="../static/main_pic_up.png" alt="" style="border:solid; border-radius:20rem">
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          ሰው ሃይል ተቆጣጣሪ ገፅ
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          {{forms.username(class="input100", type="text" ,placeholder="ስም")}}
          <!-- <input class="input100" type="text" name="username" placeholder="ስም"> -->
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <!-- <input class="input100" type="password" name="pass" placeholder="የይለፍ ፊድል"> -->
          {{forms.password(class="input100", type="password", placeholder="የይለፍ ፊድል")}}
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            አስታውስ
          </label>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            ግባ
          </button>
        </div>

        <div class="text-center p-t-90">
          <a class="txt1" href="{{url_for('reset_request')}}">
            የይለፍ መለያ ረሱት?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

{%endblock%}